@CHARSET "ISO-8859-1";
@media only screen and (max-width : 900px){
	#booking
	{
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2));
	}
	#booking-panel
	{
		width: 100%;
	}
	#tab-content
	{
		margin: 10px 0;
		border-radius: 0;
		width: 100%;
		background: url(./../img/booking.jpg) no-repeat center center;
		background-size: cover;
	}
	#search
	{
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}